.drag-and-drop-container {
  @extend .text-muted;

  .form-label {
    transition: border 150ms ease-in-out;
    @extend .rounded;
    @extend .rounded-3;
    @extend .p-5;
    border: 2px dashed $gray-400;
    cursor: pointer;

    &:hover {
      border-color: $secondary;
    }

    &:focus,
    &:active {
      border-color: $dark;
    }
  }
}

.sidebar-logo {
  width: 200px;
}

.reverseRangeControl {
  transform: rotate(180deg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  @extend .bg-body-tertiary;
}

.canvas {
  position: relative;
  overflow: hidden;
}

.canvas-wrapper {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100vh;
}

@include media-breakpoint-up(xl) {
  .sidebar {
    height: 100vh;
    overflow: auto;
  }
}
