@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "./variables-dark";

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/utilities";

// // Layout & components
@import "../../../node_modules/bootstrap/scss/_root.scss";
@import "../../../node_modules/bootstrap/scss/_reboot.scss";
@import "../../../node_modules/bootstrap/scss/_type.scss";
@import "../../../node_modules/bootstrap/scss/_images.scss";
@import "../../../node_modules/bootstrap/scss/_containers.scss";
@import "../../../node_modules/bootstrap/scss/_grid.scss";
@import "../../../node_modules/bootstrap/scss/_tables.scss";
@import "../../../node_modules/bootstrap/scss/_forms.scss";
@import "../../../node_modules/bootstrap/scss/_buttons.scss";
@import "../../../node_modules/bootstrap/scss/_transitions.scss";
@import "../../../node_modules/bootstrap/scss/_dropdown.scss";
@import "../../../node_modules/bootstrap/scss/_button-group.scss";
@import "../../../node_modules/bootstrap/scss/_nav.scss";
@import "../../../node_modules/bootstrap/scss/_navbar.scss";
@import "../../../node_modules/bootstrap/scss/_card.scss";
@import "../../../node_modules/bootstrap/scss/_accordion.scss";
@import "../../../node_modules/bootstrap/scss/_breadcrumb.scss";
@import "../../../node_modules/bootstrap/scss/_pagination.scss";
@import "../../../node_modules/bootstrap/scss/_badge.scss";
@import "../../../node_modules/bootstrap/scss/_alert.scss";
@import "../../../node_modules/bootstrap/scss/_progress.scss";
@import "../../../node_modules/bootstrap/scss/_list-group.scss";
@import "../../../node_modules/bootstrap/scss/_close.scss";
@import "../../../node_modules/bootstrap/scss/_toasts.scss";
@import "../../../node_modules/bootstrap/scss/_modal.scss";
@import "../../../node_modules/bootstrap/scss/_tooltip.scss";
@import "../../../node_modules/bootstrap/scss/_popover.scss";
@import "../../../node_modules/bootstrap/scss/_carousel.scss";
@import "../../../node_modules/bootstrap/scss/_spinners.scss";
@import "../../../node_modules/bootstrap/scss/_offcanvas.scss";
@import "../../../node_modules/bootstrap/scss/_placeholders.scss";

// // 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/helpers";

// // 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

// // 8. Add additional custom code here

.sticky {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

textarea {
  resize: none;
}

.custom-range {
  &::-webkit-slider-thumb {
    background-color: #0E9842;

    &:active {
      background-color: #53bd7b !important;
    }
  }

  &::-moz-range-thumb {
    background-color: #0E9842;

    &:active {
      background-color: #53bd7b !important;
    }
  }

  &::-webkit-slider-runnable-track {
    background-color: #dddddd;
  }

  &::-moz-range-track {
    background-color: #dddddd;
  }
}


.drag-and-drop-container {
  width: 100%;
  height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sidebar-logo {
  width: 200px;
}